{% extends 'base/base.html' %}

{%block titile%} {{title}} {%endblock%}

{%block content%}
{% from "_macro.html" import show_list_h %}
{% from "_macro.html" import render_field %}
{{show_list_h(title)}}
{{show_list_h('Hola Lalis')}}

{%endblock%}



{%block content1%}

{% from "_macro.html" import render_field %}

<form name="sendMessage" id="contactForm" method="post">
    <div class="row control-group justify-content-center">
        <div class="form-group col-xs-12 floating-label-form-group controls ">
            {{render_field(form.username, class='form-control')}}
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="row control-group justify-content-center">
        <div class="form-group col-xs-12 floating-label-form-group controls ">
            {{render_field(form.email, class='form-control')}}
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="row control-group justify-content-center">
        <div class="form-group col-xs-12 floating-label-form-group controls ">
            {{render_field(form.comment, class='form-control')}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary justify-content-center">Send</button>
</form>

{%endblock%}


